
x-rwPgConfig: &rwPgConfig
  host: 'localhost'
  port:  5432
  user: 'postgres'
  password: 'password'
  database: "db_name"
  ssl: false

x-roPgConfig: &roPgConfig
  host: 'localhost'
  port:  5432
  user: 'postgres'
  password: 'password'
  database: "db_name"
  ssl: false

x-mongoConfig: &mongoConfig
  uri: 'mongodb://localhost:27017'
  database: 'db_name'
  options:
    maxPoolSize: 10
    minPoolSize: 2
    serverSelectionTimeoutMS: 5000
    socketTimeoutMS: 45000
    writeConcern:
      w: 1
      j: false

x-commonRedisConfig: &commonRedisConfig
  host: 'localhost'
  port: 6379
  retry_timeout: 100

stayConfig: 
  rwPgConfig: *rwPgConfig
  roPgConfig: *roPgConfig
  mongoConfig: *mongoConfig
  commonRedisConfig: *commonRedisConfig
  port:
    api: 32098
    websocket: 32099