
x-rwPgConfig: &rwPgConfig
  host: 'localhost'
  port:  5432
  user: 'postgres'
  password: 'password'
  database: "db_name"
  ssl: false

x-roPgConfig: &roPgConfig
  host: 'localhost'
  port:  5432
  user: 'postgres'
  password: 'password'
  database: "db_name"
  ssl: false

stayConfig: 
  rwPgConfig: *rwPgConfig
  roPgConfig: *roPgConfig
  port:
    api: 32098
    websocket: 32099