version: '3.8'
services:
  stay-api-postgres: 
    image: postgres
    restart: on-failure
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: stay
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
  stay-api-redis:
    image: redis
    hostname: redis-server
    ports:
      - 6379:6379
    volumes:
      - redis:/data
volumes:
  redis:
    driver: local
  pgdata:





